# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.env
.venv/

# Packaging
build/
dist/
*.egg-info/

# Git
.git/

# Test and lint
.pytest_cache/
.mypy_cache/

# Editor
.vscode/
.idea/
